[tool.poetry]
name = "konoha"
version = "4.6.2"
description = "A tiny sentence/word tokenizer for Japanese text written in Python"
authors = ["himkt <himkt@klis.tsukuba.ac.jp>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.6.1"
janome = {version = "^0.3.10", optional = true}
natto-py = {version = "^0.9.0", optional = true}
kytea = {version = "^0.1.4", optional = true}
sentencepiece = {version = "^0.1.85", optional = true}
sudachipy = {version = "0.4.9", optional = true}
boto3 = {version = "^1.11.0", optional = true}
allennlp = {version = "^1.0.0", optional = true}
fastapi = {version = "^0.54.1", optional = true}
uvicorn = {version = "^0.11.5", optional = true}
sudachidict-core = {version = "^20200330", optional = true}
sphinx = {version = "^3.1.1", optional = true}
sphinx_rtd_theme = {version = "^0.4.3", optional = true}
overrides = "3.0.0"
nagisa = {version = "^0.2.7", optional = true}

[tool.poetry.dev-dependencies]
python-language-server = "^0.31.2"
pytest = "^5.3.2"
flake8 = "^3.7.9"
rope = "^0.14.0"
mypy = "^0.761"
black = "^19.10b0"
ipython = "^7.10.2"

[tool.poetry.extras]
allennlp = ["allennlp"]
janome = ["janome"]
mecab = ["natto-py"]
kytea = ["kytea"]
sudachi = ["sudachipy", "sudachidict-core"]
nagisa = ["nagisa"]
sentencepiece = ["sentencepiece"]
remote = ["boto3"]
server = ["fastapi", "uvicorn"]
all = ["janome", "natto-py", "kytea", "sudachipy", "sudachidict-core", "nagisa", "sentencepiece", "boto3", "fastapi", "uvicorn"]
all_with_integrations = ["janome", "natto-py", "kytea", "sudachipy", "sudachidict-core", "nagisa", "sentencepiece", "boto3", "allennlp", "fastapi", "uvicorn"]
docs = ["sphinx", "sphinx_rtd_theme"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
