name: ci

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  tests:
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install tokenizers
      run: |
        sudo apt update -y
        sudo apt install mecab libmecab-dev mecab-ipadic-utf8
        cd /tmp
        wget http://www.phontron.com/kytea/download/kytea-0.4.7.tar.gz && \
        tar zxvf kytea-0.4.7.tar.gz && cd kytea-0.4.7 && \
        wget https://patch-diff.githubusercontent.com/raw/neubig/kytea/pull/24.patch && \
        git apply ./24.patch && ./configure && \
        sudo make && sudo make install && sudo ldconfig -v

    - run: python -m pip install --upgrade pip
    - run: pip install .[all]
    - run: pip install ruff pytest httpx mypy

    - run: |
        ruff check src
        ruff format --diff src
    - run: mypy src
    - run: pytest
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
