name: docker

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: docker build -t himkt/konoha:${{ github.sha }} .
      - run: docker push himkt/konoha:${{ github.sha }}
