name: publish

on:
  release:
    types:
      - published

jobs:
  deploy:
    runs-on: ubuntu-22.04
    if: github.event_name == 'release'
    steps:
    - uses: actions/checkout@v4
    - run: curl -sSf https://rye-up.com/get | RYE_INSTALL_OPTION="--yes" bash
    - run: rye build --sdist
    - run: rye publish --yes --token "${{ secrets.PYPI_TOKEN }}"
